.header {
    text-align: center;
    font-size: 18px;
    font-decoration: bold;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
    padding-top: 20px;
}

.navigate {
    color: grey;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    /* Align items to the bottom of the container */
}

.next {
    flex: 1;
    /* Allow .next to take available space */
    display: flex;
    justify-content: flex-end;
    /* Align text inside to the right */
    align-items: flex-end;
}

.selected-alert-type-space {
    margin-right: 8px;
}

.declaration {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rightpanel-space {
    margin: 25px;
    font-size: 16px;
    max-width: 325px;
}

.top-part {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigate {
    cursor: pointer;
}

.context-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Cinzel", serif;
    font-weight: bold;
}

.context-sources {
    margin-bottom: 5px;
    word-break: break-word;
}

.context-sources-url {
    text-decoration: none;
}

.context-subtitle {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.original-text {
    border-left: 2px solid gray; /* Adjust the weight and color as needed */
    padding-left: 10px;
}
