html,
body {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    font-size: 13px;
}

.right-panel form {
    height: 7vh;
    position: fixed;
    bottom: 0;
    width: 62%;
    max-width: 728px;
    display: flex;
    outline: 1.5px solid #000;
    border-radius: 10px;
    margin: 1.5vh;
}

form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    line-height: 1.25;
    width: 100%;
    border: none;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

ul,
li {
    text-align: left;
    list-style: none;
}

p {
    max-width: 400px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    text-align: center;
}

.message-box {
    overflow-y: auto;
    padding-bottom: 7vh;
    overflow-x: hidden;
    margin: 20px;
}

.message {
    display: flex;
    align-items: center;
    color: black;
    max-width: 80%;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: normal;
}

.user-message {
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
}

.container {
    display: flex; /* Use flexbox to arrange items */
    height: 100vh; /* 100% of the viewport height */
}

.left-panel {
    flex: 0 0 35%; /* Flex-grow, flex-shrink, flex-basis */
    background-color: #f0f0f0; /* Example background color */
}

.right-panel {
    flex: 0 0 65%; /* Flex-grow, flex-shrink, flex-basis */
    overflow-y: auto;
}
